/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply styles to scrollbars inside .sidemenu-scrollbar */
.sidemenu-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidemenu-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.sidemenu-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.sidemenu-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
